<link rel="stylesheet" href="../public/css/styles.css">





<input type="hidden" id="numeros" value="{{numeros}}">




<hr>
<section class="containerOld">

    <div class="containerNew">
        <h1>Prêmios:</h1>

        <div class="premio-1">
            <h1>Primeiro prêmio: PS4 ou R$3000 no pix</h1>
        </div>

        <div class="premio-2">
            <h1>Segundo prêmio: Iphone X ou R$1000 no pix</h1>
        </div>

        <div class="premio-3">
            <h1>Terceiro prêmio: R$500 no pix</h1>
        </div>


        <div class="cotas">
            <h3>Por apenas <br>
                <p type="button" class="btn btn-dark">R$0,50 centavos!</p>
            </h3>

            <div class="navbarrr bg-success" id="myDiv">

                <h5 style="color: white;">Selecione a quantidade de números:</h5>


                <div class="numsEscolhidos">
                    <button type="button" class="btn btn-primary botoesCotas" name="5">+ 5<br> números</button>
                    <button type="button" class="btn btn-primary botoesCotas" name="15">+ 15
                        <br>números</button>
                    <button type="button" class="btn btn-primary botoesCotas" name="25">+ 25<br> números</button>
                    <button type="button" class="btn btn-primary botoesCotas" name="50">+ 50 <br>números</button>
                </div>
                <hr>

                <div class="divzinha">
                    <div class="qntdNumeros">
                        <button id="addCota">+</button>
                        <strong id="cotas">Cotas: 0</strong>
                        <button id="removeCota">-</button>
                    </div>
                    <div class="valor">
                        <strong id="valorRS">Valor: R$0</strong>
                    </div>
                </div>

                <div class="botaoSub">

                    <button class="btn  btn-success" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                        id="continue">
                        Continuar
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body topo">

                            <input type="text" placeholder="Nome..." name="nome" id="nome" required>
                            <input type="number" placeholder="Telefone..." name="telefone" id="telefone" required>
                            <input type="text" placeholder="Instagram (opcional).." name="insta" id="insta">

                            <button id="pagar" type="submit" class="btn btn-success">PAGAR</button>

                        </div>
                    </div>

                </div>
            </div>



        </div>

    </div>



</section>


<script src="../public/js/scripts.js"></script>