@import url('https://fonts.googleapis.com/css2?family=Honk&family=Roboto+Slab&display=swap');

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*background-image: url("../img/bg.jpg");*/
    background-color: rgb(191, 231, 218);
    background-size: contain;
    font-family: 'Roboto Slab', serif;
}



.containerNew {
    background-color: #d4d4d4a8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    text-align: start;
    padding: 10px;
    width: 100%;
}

.tituloMenu {
    font-family: 'Honk', system-ui;
    font-size: 54px;
    text-align: center;
}

.premios {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.premio {
    padding: 4px;
    border: 2px solid lightgrey;
    width: 50%;
    border-radius: 8px;
    background-color: #e3f2eb;
}

.premio h1 {
    padding: 8px;
}

.premio h1:last-child {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 8px 0px;
    border-radius: 8px;
}

.premio>.carrosel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-item img {
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 8px;
}

.carousel>button {
    border: none !important;
    background-color: none !important;
    box-shadow: none !important;
}

cinza {

    color: rgb(81, 80, 80);
}

.containerNew>h1,
.containerNew>.cotas {
    text-align: center;
}

.cotas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.rounded-3 {
    background-color: rgba(27, 138, 81, 0.356) !important;
}

.container-fluid {
    background-color: #e3f2eb !important;
    border-radius: 8px;
}

.containerOld {
    width: 100%;
}

.tituloCont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu>a {
    width: 130px;
    margin: 4px;
    height: 40px;
}



.widthRed {
    width: calc(10% - 20px);
    /* Utilize a porcentagem que você precisa e ajuste a margem conforme necessário */
    margin: 10px;
    text-align: center;
}

.myCards {
    text-align: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 50%;

}

.descCards {
    margin-top: 5px;
}

.navbarrr {
    width: 100%;
    margin: 0px;
    padding: 4px;
    border-radius: 6px;
    text-align: center;
    overflow-y: auto;
    user-select: none;
    transition: width 1s ease;
}

.navbarrr .card-body {
    padding: 10px !important;
}




.topo {
    z-index: 1;
}

.titleOfert {
    background-color: #198754;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    text-align: center;

}

.topo input {
    border-radius: 8px;
    border: 1px solid green;
    margin-bottom: 5px;
}

.navbarrr h5 {
    color: rgb(51, 35, 35);
}

.numsEscolhidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.botoesCotas {
    flex: 0.5
}

.numZim {
    background-color: white;
    text-align: center;
    width: calc(20% - 20px);
    border-radius: 8px;
    margin: 10px;
    padding: 2px;
    font-size: 16px;
}

.collapse {
    margin: 0 !important
}

.disponivel {
    background-color: rgb(56, 176, 56);
}

.selecionado {
    background-color: blue;
    box-shadow: 0 5px 0px rgb(0, 0, 92) !important;
    border: 2px solid rgb(0, 0, 92) !important;
}

.indisponivel {
    background-color: red;
    box-shadow: none;
    border: none;
    cursor: none;
}

.divzinha {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.valor,
#cotas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: whitesmoke;
    border-radius: 8px;
    width: 50%;
}

.qntdNumeros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.qntdNumeros button {
    border-radius: 8px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
}

.botaoSub {
    padding-top: 15px;
}

.containerNew button {
    transition: all 0.1s ease-in;
    box-shadow: 0 5px 0px rgb(38, 118, 38);
    border: 2px solid rgb(38, 118, 38);
}

.containerNew button:active {
    transform: translateY(4px);
    border-bottom-width: 2px;
    box-shadow: none;
}


.containerPagamento {
    display: flex;
    justify-content: space-between;
}

.pix {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixQR {
    width: 300px;
}

.whatsButton {
    width: 100px;
    cursor: pointer;
}

.containerLiberaAposta {
    display: flex;
    justify-content: space-around;
}

.infosApostas {
    width: calc(20% - 20px);
    margin: 10px;
}

.infosApostas a {
    margin: 4px auto;

}

.infosApostas button {
    padding: 20px 40px;
}

.status {
    color: rgb(3, 62, 77);
    background-color: white;
    padding: 2px;
    border-radius: 8px;
}

.pago {
    color: green;
}

.naoPago {
    color: red;
}



.pixCopiaCola {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 100%;
}

.pixCopiaCola button {
    margin-bottom: 10px;
}

.pixCopiaCola input {
    width: 100%;
}

@media (max-width: 768px) {


    .widthRed {
        width: calc(33% - 20px);
        margin-left: 0;
    }

    .numZim {
        width: calc(30% - 10px);
        border-radius: 8px;
        margin: 5px;
        font-size: 14px;
        padding: 0px;
    }

    .botoesCotas {
        margin: 4px;
        text-align: center;
    }



    .containerPagamento,
    .containerLiberaAposta {
        display: block;

    }

    .infosUser,
    .infosApostas {
        margin: 0 auto;
    }

    .pixQR,
    .infosApostas {
        width: 100%;
    }

    .titleOfert {
        width: auto
    }

    .menu>a {
        flex: 0.5;
        margin: 2px;
    }

    .menu>a:last-child {
        flex: 1;
    }

    .menu {
        justify-content: flex-start;
    }


    .titleOfert {
        text-align: initial;
    }

    .navbarrr {
        width: 110%;
    }

    .carousel-item img {
        width: 200px;
        height: 200px;
    }

    .premio {
        width: 100%;
    }
}