.status {
    text-align: center;
    color: rgb(3, 62, 77);
    background-color: white;
    padding: 2px 8px;
    border-radius: 8px;
    position: relative;
    bottom: 0;
}

.cotas_participantes {
    text-align: center;
    color: rgb(3, 62, 77);
    background-color: white;
    padding: 2px 8px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;

}

.cotas_participantes .numbers {
    width: 45%;
    margin: 4px;

}

.rounded-3 {
    background-color: rgba(27, 138, 81, 0.356) !important;
}

.container-fluid {
    background-color: rgba(255, 255, 255, 0.767) !important;
    border-radius: 8px;
}



.titulos {
    background-color: rgba(27, 138, 81);
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.numbers {
    border: 1px solid black;
    margin: 4px 0px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #198754;
    color: white;
}

.headerCard {
    text-align: center;

}

.naoPago {
    color: red;
    font-weight: bold;
}

.infosApostas {
    min-width: 16rem;
    margin-left: 0px 20px;
}


.containerCotas {
    padding: 4px 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 768px) {

    .infosApostas {
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
}