<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="../../../public/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="../../public/img/coroa.png" type="image">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reizim das Rifas.com</title>
</head>

<body>
    {{>_navbar}}

    <div class="container mt-4">


        {{#if error}}
        <div class='alert alert-danger'>{{error}}</div>
        {{else}}
        {{/if}}
        <div class="p-5 mb-4 bg-light rounded-3">
            {{>_msg}}
            {{>_menu}}
            {{{body}}}
        </div>
    </div>

</body>

<script src="../../../public/js/bootstrap.js"></script>
<script src="../../public/js/funcoes.js"></script>



</html>